* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    max-height: 100%;
    max-width: 100%;
    padding: 0 2vw;
}

.footer2 {
    margin-top: 20px;
    padding: 0;
    border-bottom: 3px dashed #228ce3;
    border-top: 3px dashed #228ce3;
}


.ilearning {
    filter: invert(50%);
}

.ilearning:hover {
    filter: invert(0);
    transition: filter 0.7s, scale 0.7s;
    scale: 1.1;
}

.faq-right {
    box-shadow: 0 1px 0 rgba(159, 152, 152, 0.66);
    height: fit-content;
    width: 30vw;
    background-color: #022c45;
    border-top: 5px solid rgb(0, 169, 244);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

label {
    display: none;
}

.login {
    color: white;
    justify-content: center;
    border: 1.5px solid lightyellow;
}

input {
    padding: 0.2rem;
    border: none;
    border-radius: 5px;
    height: 2.3rem;
    width: 28vw;
    margin: 1vh 1vw;
}

input::placeholder {
    font-family: Roboto, serif;
    font-size: 0.8rem;
    font-weight: 400;
}

.contact-details {
    font-size: 0.8rem;
    color: white;
    padding: 1px 13px;
    font-weight: 700;
    margin: 2px 0;
    background-color: #022c45;
}

#submit {
    margin: 1vh 1vw;
    height: 5vh;
    width: 28vw;
    border: none;
    border-radius: 5px;
    background-color: white;
}

#checkbox {
    height: 2vh;
    width: 2vw;
}

#submit:hover {
    background-color: #f3dc43;

}

.form-action {
    gap: 1.4vh;
}

.error {
    font-size: larger;

}

#navbarColor03 {
    background-color: transparent;
}

@media (max-width: 768px) {
    .faq-right {
        height: fit-content;
        width: 78vw;
    }

    .contact-details {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }

    input {
        padding: 0.2rem;
        border: none;
        border-radius: 5px;
        height: 2.9rem;
        width: 74vw;
        margin: 1vh 2vw;
    }

    .faq-img {
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .contact-details {
        font-size: 0.8rem;
        color: white;
        padding: 1px 13px;
        font-weight: 700;
        margin: 2px 0;
        background-color: #022c45;
    }

    #submit {
        margin: 1vh 2vw;
        height: 7vh;
        width: 74vw;
        border: none;
        border-radius: 5px;
        background-color: white;
    }

    .agenda {
        text-align: left;
        list-style: none;
        padding-left: 3vw;
    }

    #checkbox {
        height: 2vh;
        width: 2vw;
    }

    #submit:hover {
        background-color: #f3dc43;
    }

    .form-action {
        gap: 3vh;
    }

    .btn {
        font-size: 17px;
        height: 8vh;
        width: 42vw;
    }

    .login {
        color: royalblue;
        justify-content: center;
        border: 1.5px solid royalblue;
    }

    .footer-img {
        margin-top: 30px;
        height: 10rem;
        width: 10rem;
    }

}

.loop_wrap {
    height: 15vh;
    width: auto;
    display: flex;
    overflow: hidden;
}

.loop_wrap2 {
    height: 15vh;
    width: auto;
    display: flex;
    overflow: hidden;
}

.loop_wrap img, .loop_wrap2 img {
    width: auto;
    height: 70%;
}

@keyframes loop {
    0% {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

@keyframes loop11 {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-10%);
    }
}

@keyframes loop22 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.loop_wrap img:nth-child(n) {
    animation: loop 20s -10s linear infinite;
}

.loop_wrap img:nth-child(n) {
    animation: loop2 20s linear infinite;
}

.loop_wrap2 img:nth-child(n) {
    animation: loop11 20s -10s linear infinite reverse;
}

.loop_wrap2 img:nth-child(n) {
    animation: loop22 20s linear infinite reverse;
}

.hero4 {
    border: 1px dashed black;
    border-radius: 15px;
    background-color: rgba(166, 166, 166, 0.32);
}

.hero-right {
    position: absolute;
    right: 0;
    z-index: 1;
    color: white;
    height: 30vh;
    width: 80%;
    background: linear-gradient(90deg, transparent, #4098d9, #6db781);
}

@media (max-width: 480px) {
    .faq-right {
        width: 90vw;
    }

    .contact-details {
        font-size: 0.6rem; /* Further adjust font size for very small screens */
    }

    .intro {
        align-items: center;
        height: 10vh;
        width: fit-content;
        font-size: 2rem;
        color: #228ce3;
    }

    input {
        padding: 0.2rem;
        border: none;
        border-radius: 5px;
        height: 2.9rem;
        width: 84vw;
        margin: 1vh 2vw;
    }

    input::placeholder {
        font-family: Roboto, serif;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .contact-details {
        font-size: 0.8rem;
        color: white;
        padding: 1px 13px;
        font-weight: 700;
        margin: 2px 0;
        background-color: #022c45;
    }

    #submit {
        margin: 1vh 2vw;
        height: 5vh;
        width: 84vw;
        border: none;
        border-radius: 5px;
        background-color: white;
    }

    #checkbox {
        height: 2vh;
        width: 2vw;
    }

    #submit:hover {
        background-color: #f3dc43;
    }

    .form-action {
        gap: 1.5vh;
    }

    .btn {
        font-size: 15px;
        height: 6vh;
        width: 37vw;
    }

    .header {
        opacity: 0;
    }

    .header2 {
        opacity: 100%;
    }

    .login {
        color: royalblue;
        justify-content: center;
        border: 1.5px solid royalblue;
    }
}